.profile {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.imgWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100px;
}
.profileText {
}
.profileList {
  display: flex;
  padding: 0;
  list-style: none;
}
.listItem {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}
